name: mkdocs

on:
  push:
    branches:
      - main
      - mkdocs
  workflow_call:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install python3
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - uses: actions/cache@v5
        with:
          key: ${{ github.ref }}
          path: .mkdocs-cache
      - run: |

          if [[ -f pyproject.toml ]]; then
            uv run mkdocs gh-deploy --force
          elif [[ -f requirements.txt ]]; then
            pip install --upgrade pip
            pip install -r requirements.txt
            mkdocs gh-deploy --force
          fi
