name: goreleaser

on:
  push:
    tags:
      - '*'
  workflow_call:
    inputs:
      publishDocker:
        description: 'Publish docker image'
        default: false
        required: false
        type: boolean

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: install task
        uses: arduino/setup-task@v2
      - name: install go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true
      - name: setup docker buildx
        if: ${{ inputs.publishDocker }}
        uses: docker/setup-buildx-action@v3
      - name: login to ghcr
        if: ${{ inputs.publishDocker }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: run goreleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_TOKEN }}
